---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />
		<main>
			<div id="evis1"></div>
			<div id="evis2"></div>
			<div id="evis3"></div>
			<div id="rvis1"></div>
			<div id="rvis2"></div>
		</main>


			<script>
				import '../components/vis';
			</script>

		<Footer />


	</body>
</html>
